---
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <div class="grid grid-cols-3 gap-4">
        <div class="...">FOTO</div>
        <div class="col-span-2 ...">Hola! Aquí un apasionado del desarrollo de software!
				  , trabajando como desarrollador de producto y analista programador en .NET en Captia Ingeniería.
				 	 Me especializo en crear soluciones innovadoras que optimizan procesos y potencian la automatización en las empresas.
					  Además, disfruto explorando el mundo del desarrollo web, buscando siempre mejorar la experiencia digital. 
						Fuera del código, el deporte y un estilo de vida saludable son esenciales para mí, combinando el bienestar físico con una actitud positiva y alegre en el día a día.</div>
    </div>
</Layout>
