---
import { Picture } from 'astro:assets';
import ImagenCaptia from '/public/Imagenes/captia-ingenieria-removebg-preview.png';
---
<a href="https://www.captia.es/" target="_blank" class="inline-flex items-center align-middle">
  <Picture src={ImagenCaptia} formats={['avif', 'webp']} alt="Captia Ingeniería" style="width: 6em; height: 3em;" />
</a>